body
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(249,249,249);
    margin: 0;
    //background: linear-gradient(blue,white);
    //color: white;
}

p
{
    margin: 15px;
}